@import "../../../scss_utils/vars";

.MainSection {
  .MainSection-Grid {
    display: grid;
    grid-auto-rows: minmax(auto, 300px);
    grid-auto-columns: minmax(300px, auto);
    justify-content: space-between;

    .MainSection-Info {
      max-width: 600px;
      grid-column: 1;
      grid-row: 1;
      align-self: end;
      h1 {
        font-weight: 600;
        margin: 2% 0;
      }
      span {
        font-weight: 700;
        color: $accent-color;
      }
    }

    .ButtonScroll {
      margin: 4% 0;
      grid-column: 1;
      grid-row: 2;
    }

    .MainSection-Images {
      grid-column: 2;
      width: 600px;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      img {
        height: 300px;
        width: 300px;
      }

      img:first-child {
        height: 150px;
        width: 150px;
        align-self: center;
        justify-self: center;
      }

      img:nth-child(2) {
        border-radius: 0 150px 0 0;
      }

      img:nth-child(3) {
        border-radius: 0 0 0 150px;
      }

      img:nth-child(4) {
        border-radius: 0 0 150px 0;
      }
    }
  }
}
