// fonts
$logo-font: TT_Rounds_Neue, serif;
$accent-font: "Raleway", sans-serif;
$main-font: "Nunito", sans-serif;

$logo-font-size: 2rem;
$h1-font-size: 3.375rem;
$h2-font-size: 2.625rem;
$h3-font-size: 1.75rem;
$p-font-size: 1.125rem;
$s-font-size: 0.875rem;
$xs-font-size: 0.75rem;

// colors
$red-logo: #FF6B6B;
$yellow-logo: #FFDD00;
$green-logo: #45CB85;
$viol-logo: #724CF9;

$accent-color: $viol-logo;
$main-dark: #242424;
$secondary-dark: #1d1d1d;
$main-light: #fcfcfc;
$secondary-light: #fafafa;
$dull-light: #dddddd;

$border-color: #1d1d1d25;
