@import "../../../../scss_utils/vars";
@import "../../../../scss_utils/mixins";

.contacts-card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: calc(100% - 2rem);
  border-radius: 10px;
  background: $main-light;
  box-shadow: rgba($accent-color, 0.2) 0.1rem 0.1rem 0.8rem;

  .contacts-text-link {
    color: $accent-color;
    transition: color 200ms ease-in-out;

    &:hover {
      color: $main-dark;
      text-decoration: underline;
    }
  }

  .contacts__social {
    display: flex;
    gap: 1rem;
    align-items: center;
    .contacts__social-icons {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  @include respond(tab-land) {
  }
  @include respond(tab-port) {
  }
  @include respond(phone) {
    text-align: left;
    .contacts-text {
      display: flex;
      flex-direction: column;
    }
    .contacts__social {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}



