@import "../../../scss_utils/vars";

.divider {
  height: 6.25rem;
  margin-bottom: 5rem;
  gap: 0.25rem;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, transparent 0%, rgba(114, 76, 249, 0.1) 50%, transparent 100%);
}

.spoiler {
  color: $accent-color;
  text-align: center;
  &:hover {
    font-weight: 700;
  }
}
