@import "../../scss_utils/vars";
@import "../../scss_utils/mixins";

.small-text {
  color: $dull-light;
}

.footer {
  color: $dull-light;
  width: 100%;
  height: fit-content;
  padding: 4rem 0;
  background: #242424;
  display: flex;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;

  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contacts {
    .contacts__phone {
      display: flex;
      gap: 5px;
      align-items: center;

      .phone__icon {
        width: 1.2rem;
      }
    }

    .contacts__text-link {
      color: $dull-light;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;

    .footer__nav-item {
      list-style: none;
      text-decoration: underline;
      transition: color 200ms ease-in-out;
      cursor: pointer;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .social__icon {
    color: $accent-color;
    transition: color 200ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: $main-light;
    }
  }
}

@include respond(tab-port) {
  .footer {
    .footer__container {
      flex-direction: column;
      gap: 2rem;
      p, h4, a, li {
        font-size: 1.2rem;
      }
    }
    .social__icon {
      font-size: 2rem;
    }
  }
}