.paragraph-container {
  display: flex;
  justify-content: space-between;
  height: 400px;
  align-items: center;
  .paragraph-info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .paragraph-image {
    height: 100%;
    aspect-ratio: 1;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

